@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header header header header header header header"
        "nav main main main main main main"
        "footer footer footer footer footer footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #00579c;
    height: 5vh;
    line-height: 5vh;
}

header>h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

nav {
    grid-area: nav;
    background-color: #f1f1f1;
    height: 90vh;
}

nav>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1.5rem;
}

.categorias {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

nav>ul>li {
    font-weight: 300;
    padding-bottom: 0.3rem;
}

main {
    grid-area: main;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f1f1f1;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
}

.cartilla {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartilla:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 30%);
}

.card-header {
    padding: 1rem 0;
}

.card-body h2 {
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
}

.card-body p {
    font-weight: 300;
    padding-bottom: 0.8rem;
}

.card-footer {
    background-color: #00579c;
    width: 100%;
}

.card-footer button {
    border: none;
    background-color: #00579c;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 0;
}

footer {
    grid-area: footer;
    background-color: #012f6b;
    height: 5vh;
    line-height: 5vh;
}

footer>p {
    color: white;
    text-align: center;
    font-weight: 300;
}